<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>109620479458-hoi8uaov2fc2p5j1hv4m6s9f0tp3c1s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109620479458-hoi8uaov2fc2p5j1hv4m6s9f0tp3c1s3</string>
	<key>API_KEY</key>
	<string>AIzaSyDAxywlgie1MG229JyarrmBGlRCbwTS4XY</string>
	<key>GCM_SENDER_ID</key>
	<string>109620479458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josh.singh.contactnotes</string>
	<key>PROJECT_ID</key>
	<string>flutterelasticsearch</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterelasticsearch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109620479458:ios:3e3c286bfe0cab6c</string>
	<key>DATABASE_URL</key>
	<string>https://flutterelasticsearch.firebaseio.com</string>
</dict>
</plist>